extends layout

block content
  h1= title
  .card.bg-dark.text-white
    h4.card-header Mold: #{disc.name}
    .card-body
      p.card-text Manufacturer: 
        a(href=disc.manufacturer.url) #{disc.manufacturer.name}
      p.card-text Plastic: #{disc.plastic}
      p.card-text Flight Numbers: #{disc.flightNumbers.speed}, #{disc.flightNumbers.glide}, #{disc.flightNumbers.turn}, #{disc.flightNumbers.fade}
      p.card-text Disc Type: 
        a(href=disc.discType.url) #{disc.discType.type}
      p.card-text Price: $#{disc.price}
      p.card-text In Stock: #{disc.stock}
      hr
      h5 Are you sure?
      small This will remove the disc mold and all stock from the inventory.
      form(method='POST')
        div.form-group
          input#discId.form-control(type='hidden', name='discId', value=disc._id )
        button.btn.btn-danger.mr-2(type='submit') Delete
        a.btn.btn-primary(href=disc.url) Cancel