extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  h4 Inventory Count
  p Discs: #{numDiscs}
  p Disc Types: #{numDiscTypes}
  p Manufacturers: #{numManufacturers}
  p Total Discs In Stock: #{inventory}
